:root {
    --primary: #fff;
    --gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
        color:#fff;
        border: none;
    
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: gold;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}
.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover {
    transition: all .3s ease-out;
    color: #242424;
    background-color: #fff;
    /* change backg to gold */
}

.btn--wide {
    color: #fff;
    background-color: #f00946;
    transition: all 0.3s ease-out;
}

.primary {
    background-color: #242424;
    color:#fff;
    border: none;
}
.primary:hover {
    background-color: #fff;
    color: #f00946;
    border: none;
}

.blue {
    background-color: #276afb;
    color:#fff;
    border: none;
}
.goldYellow {
    background: #FFD700;
    color:#fff;
    border: none;
}
.gold {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    color:#fff;
    border: none;
}
.grey {
    background-color: #5E5C6C;
    color:#fff;
    border: none;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
}