:root {
    --primary: #fff;
    --gold : radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
        color:#fff;
        border: none;
    
}

.gold {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    color:#fff;
    border: none;
}

.pricing__section {
    padding: 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
}

.pricing__container-card {
    /* background: linear-gradient(45deg, #0660e9 0%, #276afb 100%); */
    
    box-shadow: 0 6px 20px rgba( 56, 125, 255, 0.2);
    width: 300px;
    height: 500px;
    text-decoration: none;
    border-radius: 15px;
    border: solid 2px goldenrod;
}

.pricing__container-card:nth-child(2) {
    transform: scale(1.05);
    background:#fff;
    margin: 0 50px;
    color: #fff;
}

.pricing__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: dimgrey;
}

.pricing__container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
}
.pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}

.pricing__heading {
    color: #1c2237;
    margin: auto;
    margin-bottom: 24px;
    font-family: 'Qardoos-Personal-Use','Qardoos','Qardoos Personal Use Regular', Georgia, 'Times New Roman', Times, serif;
}
.pricing__headingFive {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.pricing__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px; 
    padding: 24px;
    align-items: center;
    color: rgb(54, 54, 54);
}

.pricing__container-cardInfo h3 {
    color: black;
    font-family: 'Qardoos-Personal-Use', 'Qardoos', 'Qardoos Personal Use Regular', Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    font-size: 24px;
}
.pricing__container-cardInfo h4 {
    font-size: 40px;
    color: var(--gold);
}
.pricing__container-cardInfo p {
    font-size: 14px;
    margin-bottom: 24px;
}
.pricing__container-features {
    margin: 16px 0 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__container-features li {
    margin-bottom: 10px;
    font-size: 16px;
}

.icon {
    margin: 24px 0;
}
.logo-icon {
    margin: auto;
    margin-top: -110px;
}


@media screen and (max-width: 960px) {
    .pricing__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .pricing__container-card {
        width: 90%;
    }

    .pricing__wrapper {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing__container-card:nth-child(2) {
        transform: scale(1);
        background: grey;
        margin: 24px;
    }
    .pricing__container-card:hover {
        transform: none;
    }
}