* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans',sans-serif;
}
  @font-face {
  font-family: 'Qardoos Personal Use Regular';
  font-style: normal;
  font-weight: normal;
  src: url('font/qardoos/Qardoos.woff');
  } 
  @font-face {
    font-family: 'Qardoos-Personal-Use';
    font-style: normal;
    font-weight: normal;
    src: url('font/qardoos/Qardoos-Personal-Use.otf')   
    }
    @font-face {
      font-family: 'Qardoos';
      font-style: normal;
      font-weight: normal;
      src: url('font/qardoos/Qardoos.otf')   
      }


.defaultHero, 
.servicesHero {
  min-height: calc(100vh - 66px);
  min-height: 60vh;
  background: url("./Images/bg/woman-3416250_1920.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesHero {
  background-image: url("./Images/bg/beautician.webp");
  min-height: 60vh;
}
      /* header {
        min-height: 60vh;
        background: url("./Images/bg/beautician.webp") center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

.homeB,
.servicesB,
.productsB,
.sign-upB {
  /* min-height: calc(100vh - 66px); */
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.servicesB {
  background-image: url('./Images/bg/beautician.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.productsB {
  background-image: url('./Images/bg/woman-3416250_1920.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.sign-upB {
  background-image: url('./Images/bg/beautician.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}